<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!--fonts-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400;0,500;0,700;1,400&family=Nunito:wght@400;700&display=swap"
        rel="stylesheet">

    <!-- stylesheets -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <link href="/css/main.css" rel="stylesheet">

    <!--   website title -->
    <title>mykhachu studios</title>
</head>

<!-- body space -->

<body>

    <!-- navbar partial -->
    <%- include('../partials/navbar') %>

        <!-- main space -->
        <main class="container-fluid display-flex mt-5">

            <!--  include flash messages -->
            <%- include('../partials/flash') %>

                <!--  content -->
                <%- body %>

        </main>

        <!--  footer -->
        <%- include('../partials/footer') %>

            <!-- javascript for bootstrap -->
            <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"
                integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3"
                crossorigin="anonymous"></script>
</body>

</html>