<% layout('layouts/boilerplate') %>


    <div class="container my-5">

        <h1 class="display-3 mb-3">
            Disclosure
        </h1>
        <p>
            The MYKHACHU site/brand, administrators, members, and all opinions therein are not affiliated with nor
            representative of any organization unless explicitly noted in specific situations: including and not limited
            to the Catholic Church (or any related entity) and VEYM. We only do our best to be positive, accurate, and
            truthful; any and all statements (unless expressly noted/cited) are meant for informative and discussion
            purposes only. The opinions, views, and thoughts expressed are our own and do not necessarily express the
            views or opinions of any organization or any members of any organizations with which we may be affiliated,
            unless explicitly stated. We are not sponsored by any group or individual. If you would like more
            information, please feel free to contact us at mykhachu92@gmail.com.
        </p>

    </div>