<% layout('layouts/boilerplate') %>

    <div class="row align-items-center">
        <div class="col text-center">
            <h1 class="display-2">
                welcome!
            </h1>
        </div>
    </div>

    <div class="row my-4"> </div>

    <!-- ROW ONE -->

    <div class="row align-items-center px-5">

        <div class="col-md-6 col-12">
            <img src="https://res.cloudinary.com/mykhachustudio/image/upload/v1670093909/mykhachu%20studio%20site/mykhabun_clouds.png"
                class="img-fluid rounded" alt="mykhachu bunny vtuber">
        </div>

        <div class="col text-center m-3 p-3 bg-light rounded border border-5 borderPink">
            <p>
                my name is mykhachu and this is my shiny new website! we're in soft launch as i work out the rest of the
                site, but feel free to peruse what is posted and catch me as a bunnygirl princess over at <a
                    href="https://twitch.tv/mykhachu" target="blank" class="pinkUrl serif">my stream!</a>
            </p>

            <small>
                <p class="text-muted mb-0">
                    model by <a href="https://raindropatelier.store" target="blank" class="mutedUrl">Raindrop
                        Atelier</a>, bg by <a href="https://twitter.com/minaetea" target="blank"
                        class="mutedUrl">mina</a>
                </p>
            </small>
        </div>

    </div>

    <div class="row my-5"> </div>

    <!-- ROW TWO -->

    <div class="row align-items-center px-5">

        <div class="col-md-6 col-12 order-1 order-md-2">
            <img src="https://res.cloudinary.com/mykhachustudio/image/upload/v1670093522/mykhachu%20studio%20site/Fischl.png"
                class="img-fluid rounded" alt="in-game photo of fischl genshin impact">
        </div>

        <div class="col text-center m-3 p-3 bg-light rounded border border-5 borderPink order-2 order-md-1">
            <p>
                on and offline, i tend to play a lot of Genshin Impact as well as other games such as Fire Emblem: Three
                Houses, Persona 5 Royal, and Final Fantasy XV! i also dabble in Animal Crossing: New Horizons, FFXIV
                Online, and Fortnite as well.
            </p>

            <small>
                <p class="text-muted mb-0">
                    in-game photo i took of best girl, the Prinzessin der Verurteilung
                </p>
            </small>
        </div>

    </div>

    <div class="row my-5"> </div>

    <!-- ROW THREE -->

    <div class="row align-items-center px-5">

        <div class="col-md-6 col-12 text-center">
            <img src="https://res.cloudinary.com/mykhachustudio/image/upload/v1670095329/mykhachu%20studio%20site/azeliepfp_dplvpk.png"
                class="rounded" id="azeliePfp" alt="azelie zelie profile picture">
        </div>

        <div class="col text-center m-3 p-3 bg-light rounded border border-5 borderPink">
            <p>
                beyond streaming, i also sing often and make covers to post on <a href="https://youtube.com/@mykhachu"
                    target="blank" class="pinkUrl serif">YouTube!</a> i am also working on my voice acting chops so
                maybe one day i really can become a Disney Princess--and potentially an NPC in Genshin Impact as well,
                that's the dream.
            </p>

            <small>
                <p class="text-muted mb-0">
                    my Warrior of Light, Azelie Zelie by <a href="https://twitter.com/MiphaLai" target="blank"
                        class="mutedUrl">MiphaLai</a>
                </p>
            </small>
        </div>

    </div>