<% layout('layouts/boilerplate') %>


    <div class="container my-5">

        <h1 class="display-3 mb-3">
            Terms and Conduct
        </h1>
        <h2 class="display-5 mb-3">
            use and rights
        </h2>
        <p>
            MYKHACHU STUDIOS (also referred to as “MyKha”, “mykhachu”) retains copyright privileges on all artwork
            featured on the site, unless otherwise noted and credited in specific item description. All creative content
            in the gallery is the property of mykhachu, all rights reserved.
        </p>
        <p>
            By using this site, you agree that you have read this description fully and will comply with all of the
            terms outlined here.
        </p>
        <p class="mb-5">
            The art/projects presented here are for viewing only and are not to be sold, resold, redistributed, used in
            advertising, and/or for any other non-personal or commercial use without permission, for any reason.
            Prohibited actions include, and are not limited to, mass production and file sharing, even for
            personal/private use. Naturally, plagiarism is not welcome and will not be tolerated.
        </p>

        <h2 class="display-5 mb-3">
            code of conduct
        </h2>
        <p>All interactions with this site and associated MYKHACHU platforms (including but not limited to the shop and
            official social media platforms) should, to borrow from the Code of Conduct on the USCCB’s Facebook site,
            “be marked by Christian charity and respect for the truth. They should be on topic and presume the good will
            of other posters.”</p>
        <p>All information about administrators, members, visitors, and users should be kept private and confidential
            unless authorized by rightful parties. </p>
        <p>Any administrator, member, or visitor to the site and associated MYKHACHU platforms who posts any content
            should not be doing so in the name of any organization unless given express authorization by rightful
            leaders of respective organizations.</p>
        <p>Content should be properly cited and given credit where due, and this only after receiving permission to cite
            them, post photos or videos of them, link to their material, etc.</p>
        <p>
            As this site and associated MYKHACHU platforms are a public online space, we have a few ground rules:
        <ul>
            <li>Love your neighbor as yourself! Hate-speech, racism, sexism, abuse, harassment, attacking, slander,
                etc., will not be tolerated. </li>
            <li>Be polite! We will keep our language clean and ask that anyone who engages with our platforms do so as
                well. No foul language please!</li>
            <li>Be appropriate! Graphic, vulgar, or explicit content is not okay.</li>
            <li>Protect yourself! Exercise safe internet practices: we don’t recommend you volunteer any identifying
                information about yourself, including your age or specific location.</li>
            <li>Follow the rules! In addition to the terms and policies listed on this site, you must also follow all
                the policies and rules of other platforms that may be part of the MYKHACHU platform as well. Please
                refer to their respective Terms and Conditions. And of course, don't break any laws.</li>
            <li>Be respectful! Please don’t spam or self-promote except where expressly allowed. Always credit and
                attribute others’ work to their respective owners!</li>
            <li>Be good! Choose love and truth. Let’s be good role models for those around us.</li>
            <li>Play nice! Don’t instigate arguments, fights, debates, or “heated discussions”. We discuss differing
                perspectives, opinions, and worldviews in a mature and respectful way.</li>
        </ul>
        </p>
        <p>We do our best to keep MYKHACHU online spaces family-friendly (at most PG-13), wholesome, and uplifting--as
            places where we can share joys and grow together. However due to the nature of the internet, user-generated
            content, and other content out of our control, we cannot guarantee this as we can only monitor ourselves and
            our own behaviors. Minors should be careful to practice online safety under the guidance of their parents,
            guardians, or other trusted adults.</p>
        <p>Any violation of these guidelines will be addressed promptly and may not include warning: the administrators
            of this site and associated MYKHACHU platforms reserve the right to delete, block, mute, report, or
            otherwise censor content that we deem to be in violation of the codes of conduct. Reports of violations can
            be made to administrators via email (mykhachu92@gmail.com) or using ModMail through the MYKHACHU discord
            server.</p>

        <p>As of November 2022 the site administrator is myself: mykhachu.</p>

        <div class="my-5">
            <p>For further reading:
            <ul>
                <li>
                    <a class="pinkUrl" href="http://www.usccb.org/about/communications/social-media-guidelines.cfm"
                        target="_blank">
                        USCCB Social Media Guidelines
                    </a>
                </li>
                <li>
                    <a class="pinkUrl"
                        href="https://dphx.org/wp-content/uploads/2019/06/Policy-and-Procedures-for-the-Protection-of-Minors-Revised-July-2019.pdf"
                        target="_blank">
                        Diocese of Phoenix Policy and Procedure for the Protection of Youth 2019
                    </a>
                </li>
            </ul>
            </p>
        </div>

    </div>