<% layout('layouts/boilerplate') %>


    <div class="container mb-5">
        <h1 class="h2 display-4 aboutHeader">
            <%= aboutInfo.title %>
        </h1>
        <p class="aboutBody">
            <%= aboutInfo.body %>
        </p>
        <p class="mt-5 ">
            <a class="btn btn-primary btn-sm sans" href="/about">Back</a>
        </p>
    </div>